@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__go {
    font-size: rem(40px);

    &--isDisable {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}