@import "assets/styles/_variables";
@import "assets/styles/_mixins";

.counter {
  $root: &;

  display: flex;
  justify-content: space-between;
  border: 1px solid $color-light;
  background-color: rgba($color-dark, .25);
  
  &--inside {
    background-color: rgba($color-dark, .7);

    #{$root}__value {
      font-size: rem(14px);

    }
  }

  &__changer {
    @extend %clear-button;
    padding: rem(0 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @extend %after;

    &:after {
      @include transition;
      font-size: rem(28px);
      line-height: 12px;
    }

    &:disabled {
      @include disabled(default);
    }

    &:not(:disabled) {
      &:hover,
      &:focus {
        &:not(:disabled):after {
          transform: scale(1.35);
        }
      }
    }

    &--minus {
      border-right: 1px solid $color-light;

      &:after {
        margin-top: rem(-4px);
        content: '–';
      }
    }

    &--plus {
      border-left: 1px solid $color-light;

      &:after {
        content: '+';
      }
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(20px);
    padding: rem(12px 16px);
  }
}