@import "./variables";
@import "./mixins";

$offset-block: 30px;

.h-label-parent {
  @include transition;
  position: relative;

  &:hover {
    .h-hidden-label {
      opacity: 1;
      visibility: visible;
      transform: translateY(calc(-100% - #{rem(12px)}));
      z-index: $z-default + 1;
    }

      &:before {
        opacity: 1;
        visibility: visible;
        z-index: -1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: calc(100% + #{rem($offset-block)});
    // width: 100%;
    height: calc(100% + #{rem($offset-block)});
    left: #{rem(-$offset-block/2)};
    top: #{rem(-$offset-block/2)};
    border-left: 1px solid $color-gray-2;
    border-bottom: 1px solid $color-gray-2;
    visibility: hidden;
    opacity: 0;
    @include transition;
  }
}

.h-hidden-label {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0%);
  @include transition();
  font-size: rem(16px);
  padding: rem(4px 6px);
  background-color: rgba($color-dark, .8);
}

@each $breakpoint, $name in (
  $media-mobile: 'mobile',
  $media-v-tablet: 'v-tablet',
  $media-tablet: 'tablet',
  $media-desktop: 'desktop'
  ) {
  @media only screen and (min-width: $breakpoint) {
    .h-hide-above-#{$name} {
      display: none;
    }
  }
  @media only screen and (max-width: $breakpoint - 1) {
    .h-hide-below-#{$name} {
      display: none;
    }
  }
}
