$base-font-size: 16px;

// Colours
$color-burnt-sienna: #E77E4D;
$color-sunset-orange: #F94E3F;
$color-picton-blue: #47b8e0;

$color-gray: #333333;
$color-gray-2: #4f4f4f;
$color-gray-3: #828282;
$color-gray-4: #bdbdbd;
$color-gray-5: #e0e0e0;

// Семантические цвета
$color-light: #ffffff;
$color-dark: #000000;

$color-main: $color-light;
$color-warning: $color-burnt-sienna;
$color-alert: $color-sunset-orange;
$color-succes: $color-picton-blue;

// Media queries
$media-mobile: 375px;
$media-v-tablet: 768px;
$media-tablet: 1024px;
$media-desktop: 1366px;

// Z-index
$z-minus: -1;
$z-default: 1;
$z-util: 50;
$z-modal: 100;

// Sizes
$size-card-height: 224px;
$size-button: 30px;